<label for="{{ widget.attrs.id }}">{{ widget.attrs.label|default:"Организация" }}
    {% if widget.required %}<span style="color:red;">*</span>{% endif %}
</label>
<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% for option in group_choices %}
            {% include option.template_name with widget=option %}
        {% endfor %}
    {% endfor %}
</select>
<div class="mt-2">
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-toggle="modal"
            data-bs-target="{{ widget.attrs.modal_target }}" 
            style="border-color:#f8a222; color:rgb(240, 146, 38);">
        <i class="fas fa-edit"></i> {{ widget.attrs.button|default:"Редактировать" }}
    </button>
</div>

