{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Создать новый счет на оплату{% endblock %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js" defer></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/myjs/dadata.js' %}" defer></script>
<script src="{% static 'js/myjs/modal_filler.js' %}" defer></script>
<script src="{% static 'js/myjs/select_rows.js' %}" defer></script>
<script src="{% static 'js/myjs/bank_filler.js' %}" defer></script>
<script src="{% static 'js/myjs/bank_rows_edit.js' %}" defer></script>
<script src="{% static 'js/myjs/bank_add.js' %}" defer></script>
<script src="{% static 'js/myjs/container.js' %}" defer></script>
<!-- <script src="{% static 'js/invoice.js' %}" defer></script>-->
<script src="{% static 'js/imask/Imask.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
{% endblock %}
{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-3 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">

        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">

          </div>
          <ul class="navbar-nav d-flex align-items-center  justify-content-end">

            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>


          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Создание счета</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="card-body">
                <form method="post" class="text-start">
        {% csrf_token %}
        <div class="card mb-4 p-3">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="card mb-4 p-3">
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">{{ form.number.label }} {% if form.number|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.id }}
                        {{ form.number }}
                        {% if form.name.help_text %}
                            <small class="form-text text-muted">{{ form.date.help_text }}</small>
                        {% endif %}
                        <br>
                        <label for="{{ form.date.id_for_label }}">{{ form.date.label }} {% if form.date|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.date }}
                        {% if form.date.help_text %}
                            <small class="form-text text-muted">{{ form.date.help_text }}</small>
                        {% endif %}

                    </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="card mb-4 p-3">
                        <h5>Информация об организации</h5>
                    <div class="form-group">
                        <label for="{{ form.organization.id_for_label }}">{{ form.organization.label }} {% if form.organization|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.organization }}
                        <div class="mt-2">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addOrganizationModal" style="border-color:#f8a222; color:rgb(240, 146, 38);" data-modal-type="organization">
                                        <i class="fas fa-edit"></i> Редактировать организацию
                                    </button>
                        </div>
                        {% if form.organization.help_text %}
                            <small class="form-text text-muted">{{ form.organization.help_text }}</small>
                        {% endif %}
                        <label for="{{ form.bank_organization.id_for_label }}">{{ form.organization_bank.label }} {% if form.organization_bank|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.organization_bank }}
                        <div class="mt-2">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addBankModal" style="border-color:#f8a222; color:rgb(240, 146, 38);">
                                        <i class="fas fa-edit"></i> Редактировать банк
                                    </button>
                            </div>
                        {% if form.organization_bank.help_text %}
                            <small class="form-text text-muted">{{ form.organization_bank.help_text }}</small>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="card mb-4 p-3">
                        <h5>Покупатель</h5>
                    <div class="form-group">
                        <label for="{{ form.counterparty.id_for_label }}">{{ form.buyer.label }} {% if form.buyer|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.buyer }}
                        <div class="mt-2">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addCounterpartyModal" style="border-color:#f8a222; color:rgb(240, 146, 38);" data-modal-type="counterparty">
                                        <i class="fas fa-edit"></i> Редактировать контрагента
                                    </button>
                        </div>
                        {% if form.buyer.help_text %}
                            <small class="form-text text-muted">{{ form.buyer.help_text }}</small>
                        {% endif %}
                        <label for="{{ form.bank_counterparty.id_for_label }}">{{ form.buyer_bank.label }} {% if form.buyer_bank|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.buyer_bank }}
                        <div class="mt-2">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addBankCounModal" style="border-color:#f8a222; color:rgb(240, 146, 38);">
                                        <i class="fas fa-edit"></i> Редактировать банк
                                    </button>
                            </div>

                        {% if form.bank_counterparty.help_text %}
                            <small class="form-text text-muted">{{ form.bank_counterparty.help_text }}</small>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="card mb-4 p-3">
                        <h5>Грузополучатель</h5>
                    <div class="form-group">
                        <label for="{{ form.consignee.id_for_label }}">{{ form.consignee.label }} {% if form.consignee|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.consignee }}
                        <div class="mt-2">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addConsigneeModal" style="border-color:#f8a222; color:rgb(240, 146, 38);" data-modal-type="consignee">
                                        <i class="fas fa-edit"></i> Редактировать грузополучателя
                                    </button>
                        </div>
                        {% if form.consignee.help_text %}
                            <small class="form-text text-muted">{{ form.consignee.help_text }}</small>
                        {% endif %}
                    </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="card mb-4 p-3">
                        <h5>Дополнительно</h5>
                    <div class="form-group">
                        <label for="{{ form.purpose_of_payment.id_for_label }}">{{ form.purpose_of_payment.label }} {% if form.purpose_of_payment|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.purpose_of_payment }}

                        {% if form.purpose_of_payment.help_text %}
                            <small class="form-text text-muted">{{ form.purpose_of_payment.help_text }}</small>
                        {% endif %}
                        <br>

                        <label for="{{ form.payment_for.id_for_label }}">{{ form.payment_for.label }} {% if form.payment_for|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.payment_for }}

                        {% if form.payment_for.help_text %}
                            <small class="form-text text-muted">{{ form.payment_for.help_text }}</small>
                        {% endif %}
                        <br>

                        <label for="{{ form.agreement.id_for_label }}">{{ form.agreement.label }} {% if form.agreement|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.agreement }}

                        {% if form.agreement.help_text %}
                            <small class="form-text text-muted">{{ form.agreement.help_text }}</small>
                        {% endif %}
                        <br>

                        <label for="{{ form.currency.id_for_label }}">{{ form.currency.label }} {% if form.currency|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.currency }}
                         <br>

                        {% if form.currency.help_text %}
                            <small class="form-text text-muted">{{ form.currency.help_text }}</small>
                        {% endif %}
                        <br>

                        <label for="{{ form.vat_rate.id_for_label }}">{{ form.vat_rate.label }} {% if form.vat_rate|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.vat_rate }}
                        <br>

                        <label for="{{ form.discount.id_for_label }}">{{ form.discount.label }} {% if form.discount|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        {{ form.discount }}
                        <br>

                        <label for="{{ form.is_stamp.id_for_label }}" style="font-weight: 700; color: red; font-size: 18px;">{{ form.is_stamp.label }} {% if form.is_stamp|is_required %}<span style="color:red;">*</span>{% endif %}</label>
                        <br>
                        <input class="form-check-input" type="checkbox" name="is_stamp" id="id_is_stamp" checked="{{ form.is_stamp.value }}">

                        {% if form.is_stamp.help_text %}
                            <small class="form-text text-muted">{{ form.is_stamp.help_text }}</small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {{ formset.management_form }}

        <div class="card p-3" style="overflow: scroll!important;">
            <h5 class="mb-3">Состав счета</h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30px; min-width: 30px;">#</th>
                        <th style="width: 30px; min-width: 30px;"></th>
                        <th style="width: 190px; min-width: 190px;">Наименование</th>
                        <th style="width: 100px; min-width: 100px;">Единица измерения</th>
                        <th style="width: 140px; min-width: 140px;">Количество</th>
                        <th style="width: 150px; min-width: 150px;">Цена</th>
                        <th style="width: 150px; min-width: 150px;">Сумма</th>
                        <th style="width: 30px; min-width: 30px;"></th>
                    </tr>
                </thead>
                <tbody id="formset-body">
                    {% for form in formset %}
                        <tr class="form-row">
                            <td class="row-number">{{ forloop.counter }}</td>
                            {{ form.id }}
                            <td>
                                <button type="button" class="btn  drag-handle" title="Перетащить">
                                    <i class="fas fa-arrows-alt"></i>
                                </button>
                                <button type="button" class="btn btn-success add-row">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="btn remove-row">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </td>
                            <td>{{ form.name }}</td>
                            <td>{{ form.unit }}</td>
                            <td class="quantity">{{ form.quantity }}</td>
                            <td class="price">{{ form.price }}</td>
                            <td class="amount">{{ form.sum|add_attr:"readonly=true" }}</td>
                            <td>
                                <button type="button" class="btn  drag-handle" title="Перетащить">
                                    <i class="fas fa-arrows-alt"></i>
                                </button>
                                <button type="button" class="btn btn-success add-row">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <button type="button" class="btn remove-row">
                                    <i class="fa-solid fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex align-items-center" style="gap: 10px;">
            <button type="button" class="btn btn-primary mb-3 w-md-30 w-sm-100 mt-3" id="duplicate-last-row">
                <i class="fas fa-copy"></i> Дублировать последнюю строку
            </button>
                <button type="button" class="btn btn-success mt-3 add-new-last-row" id="add-new-last-row">Добавить строку</button>
                </div>
            <p><span style="font-weight: 700; font-size: 18px;">Итого:</span> <span style="font-weight: 700; font-size: 18px;" id="total-sum"></span></p>
            <p><span style="font-weight: 700; font-size: 18px;">Сумма НДС:</span> <span style="font-weight: 700; font-size: 18px;" id="total-nds"></span></p>
        </div>

        <div class="d-flex justify-content-start" style="margin-top: 7px;">
            <button type="submit" class="btn btn-primary" style="margin-right: 7px; background-color:#e91e63;" onclick="resetDownload();">Сохранить</button>
            <button type="submit" class="btn btn-success" onclick="setDownloadExcel()">Excel</button>
            <input type="hidden" name="download_excel" id="download_excel" value="false">
            <button type="submit" class="btn btn-info" onclick="setDownloadPdf()" style="margin-left: 7px;">PDF</button>
            <input type="hidden" name="download_pdf" id="download_pdf" value="false">
        </div>
      </form>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
      <div class="modal fade" id="addOrganizationModal" tabindex="-1" aria-labelledby="addOrganizationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addOrganizationModalLabel">Добавить организацию</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="organizationForm" method="post" action="{% url 'add_organization' %}">
                        {% csrf_token %}
                        <input type="hidden" id="modal-prefix" name="modal-prefix" value="seller">
                        <input type="hidden" id="id_organization-id" name="modal-organization-id" value="">
                        <h5>Информация о организации</h5>
                        <div class="row">
                        {% for field in org_form %}
                        <div class="col-md-6 mb-3 form-floating">
                            {% if field.name == 'inn'%}
                            <div class="input-group">
                                {{ field }}
                                <button type="button" class="btn btn-primary" id="findByINN" style="background-color:#e91e63;">Найти</button>
                            </div>
                            <div id="innSuggestions" class="dropdown-menu"></div>
                            {% elif field.name == 'stamp' %}
                            <img id="stamp-preview" src="" style="display: none; max-width: 200px;">
                            {{ field }}
                            {% else %}
                            {{ field }}
                            <label class="form-label">{{ field.label }}</label>
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        </div>
                        <div class="text-left mt-3">
                            <input type="hidden" name="modal_type" id="modal_type">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

   <!-- Modal для добавления контрагента -->
</div>
<div class="modal fade" id="addCounterpartyModal" tabindex="-1" aria-labelledby="addCounterpartyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addCounterpartyModalLabel">Добавить контрагента</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="counterpartyForm" method="post" action="{% url 'add_organization' %}">
                  {% csrf_token %}
                  <input type="hidden" id="modal-prefix" name="modal-prefix" value="buyer">
                  <input type="hidden" id="id_buyer-id" name="modal-counterparty-id" value="">
                  <h5>Информация о контрагенте</h5>
                  <div class="row">
                  {% for field in counterparty_form %}
                  <div class="col-md-6 mb-3 form-floating">
                      {% if field.name == 'inn'%}
                      <div class="input-group">
                          {{ field }}
                          <button type="button" class="btn btn-primary" id="BuyerfindByINN" style="background-color:#e91e63;">Найти</button>
                      </div>
                      <div id="innSuggestions" class="dropdown-menu"></div>
                      {% else %}
                      {{ field }}
                      <label class="form-label">{{ field.label }}</label>
                      {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                      {% endif %}
                  </div>
                  {% endfor %}
                  </div>
                  <div class="text-left mt-3">
                      <input type="hidden" name="modal_type" id="modal_type">
                      <button type="submit" class="btn btn-success">Сохранить</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Modal для добавления грузополучателя -->
</div>
<div class="modal fade" id="addConsigneeModal" tabindex="-1" aria-labelledby="addConsigneeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="addConsigneeModalLabel">Добавить грузополучателя</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="consigneeForm" method="post" action="{% url 'add_organization' %}">
                  {% csrf_token %}
                  <input type="hidden" id="modal-prefix" name="modal-prefix" value="consignee">
                  <input type="hidden" id="cd_Consignee-id" name="modal-consignee-id" value="">
                  <h5>Информация о грузополучателе</h5>
                  <div class="row">
                  {% for field in consignee_form %}
                  <div class="col-md-6 mb-3 form-floating">
                      {% if field.name == 'inn'%}
                      <div class="input-group">
                          {{ field }}
                          <button type="button" class="btn btn-primary" id="ConsigneefindByINN" style="background-color:#e91e63;">Найти</button>
                      </div>
                      <div id="innSuggestions" class="dropdown-menu"></div>
                      {% else %}
                      {{ field }}
                      <label class="form-label">{{ field.label }}</label>
                      {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                      {% endif %}
                  </div>
                  {% endfor %}
                  </div>
                  <div class="text-left mt-3">
                      <input type="hidden" name="modal_type" id="modal_type">
                      <button type="submit" class="btn btn-success">Сохранить</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


      <div class="modal fade" id="addBankModal" tabindex="-1" aria-labelledby="addBankModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBankModalLabel">Добавить банковские реквизиты</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="bankForm" method="post" action="{% url 'add_bank_organization' %}">
                        {% csrf_token %}
                        <input type="hidden" id="modal-prefix" name="modal-prefix" value="organization_bank">
                        <h5>Банковские реквизиты</h5>
                        <div class="row">
                        {% for field in bank_org %}
                        <div class="col-md-6 mb-3 form-floating">
                            
                            {% if field.name == 'bik'%}
                            <div class="input-group">
                                <input type="text" name="organization_bank-bik" class="form-control" placeholder="Введите название банка" maxlength="9" required="true" id="id_organization_bank-bik" data-has-listeners="true">
                                <button type="button" class="btn btn-primary" id="findByBIKBank" style="background-color:#e91e63;">Найти</button>
                            </div>
                            <div id="bicSuggestionsBank" class="dropdown-menu"></div>
                            {% else %}
                            {{ field|add_attr:"required=true" }}
                            <label class="form-label">{{ field.label }}</label>
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        </div>
                        <div class="text-left mt-3">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

      <div class="modal fade" id="addBankCounModal" tabindex="-1" aria-labelledby="addBankCounModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBankCounModalLabel">Добавить банковские реквизиты</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="bankCounForm" method="post" action="{% url 'add_bank_organization' %}">
                        {% csrf_token %}
                        <input type="hidden" id="modal-prefix" name="modal-prefix" value="bank_coun">
                        <h5>Банковские реквизиты</h5>
                        <div class="row">
                        {% for field in bank_coun %}
                        <div class="col-md-6 mb-3 form-floating">
                            {% if field.name == 'bik'%}
                            <div class="input-group">
                                <input type="text" name="buyer_bank-bik" class="form-control" placeholder="Введите название банка" maxlength="9" required="true" id="id_buyer_bank-bik" data-has-listeners="true">
                                <button type="button" class="btn btn-primary" id="findByBIKBankCoun" style="background-color:#e91e63;">Найти</button>
                            </div>
                            <div id="bicSuggestionsBankCoun" class="dropdown-menu"></div>
                            {% else %}
                            {{ field|add_attr:"required=true" }}
                            <label class="form-label">{{ field.label }}</label>
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        </div>
                        <div class="text-left mt-3">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

  </main>

  <!--   Core JS Files   -->

  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static 'js/material-dashboard.min.js' %}"></script>
</body>
{% endblock %}
{% block scripts %}
<script>
    var vatRatesDict = {{ vat_rates }};
</script>
<script>
    function setDownloadExcel() {
        document.getElementById('download_pdf').value = "false";
        document.getElementById('download_excel').value = "true";
    };
    function setDownloadPdf() {
        document.getElementById('download_excel').value = "false";
        document.getElementById('download_pdf').value = "true";
    };
    function resetDownload() {
        document.getElementById('download_excel').value = "false";
        document.getElementById('download_pdf').value = "false";
    };
</script>
<script defer>
document.addEventListener('DOMContentLoaded', () => {

    document.querySelectorAll('input[type="tel"]').forEach(input => {
        let phoneMask = IMask(input, { mask: "+{7} (000) 000-00-00" });

        function validatePhoneNumber() {
            let t = input.value.replace(/\D/g, "");
            return t.length < 11 ? (input.setCustomValidity("Необходимо минимум 11 цифр"), !1) : (input.setCustomValidity(""), !0);
        }

        input.addEventListener("input", validatePhoneNumber);
    });
});
</script>
{% endblock %}