{% extends 'base.html' %}
{% load static %}
{% block title %}Создать новый счет на оплату{% endblock %}
{% block content %}
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Навигационная панель -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-3 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
          <ul class="navbar-nav d-flex align-items-center justify-content-end">
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Конец навигационной панели -->
    
    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Создание счета на оплату</h6>
              </div>
            </div>
            
            <div class="card-body px-0 pb-2">
              <div class="card-body">
                <form method="post" class="text-start">
                  {% csrf_token %}
                  
                  <!-- Основные данные -->
                  <div class="card mb-4 p-3">
                    <h5>Основные данные</h5>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.invoice_for_payment_number.id_for_label }}">Номер счета</label>
                          {{ form.invoice_for_payment_number }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.invoice_for_payment_data.id_for_label }}">Дата счета</label>
                          {{ form.invoice_for_payment_data }}
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Информация об организации -->
                  <div class="card mb-4 p-3">
                    <h5>Информация об организации</h5>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_name.id_for_label }}">Наименование</label>
                          {{ form.organization_name }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_inn.id_for_label }}">ИНН</label>
                          {{ form.organization_inn }}
                          <button type="button" class="btn btn-primary" id="findByINN" style="background-color:#e91e63;">Найти</button>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_kpp.id_for_label }}">КПП</label>
                          {{ form.organization_kpp }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_is_IP.id_for_label }}">ИП?</label>
                          {{ form.organization_is_IP }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_main_state_number.id_for_label }}">ОГРН</label>
                          {{ form.organization_main_state_number }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_address.id_for_label }}">Адрес</label>
                          {{ form.organization_address }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_telephone.id_for_label }}">Телефон</label>
                          {{ form.organization_telephone }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_fax.id_for_label }}">Факс</label>
                          {{ form.organization_fax }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_director_position.id_for_label }}">Должность руководителя</label>
                          {{ form.organization_director_position }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_director_name.id_for_label }}">ФИО руководителя</label>
                          {{ form.organization_director_name }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_accountant_name.id_for_label }}">ФИО бухгалтера</label>
                          {{ form.organization_accountant_name }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_conventional_name.id_for_label }}">Условное название</label>
                          {{ form.organization_conventional_name }}
                        </div>
                      </div>
                    </div>
                    
                    <!-- Банковские реквизиты организации -->
                    <h6 class="mt-4">Банковские реквизиты</h6>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_bik.id_for_label }}">БИК</label>
                          {{ form.organization_bik }}
                          <button type="button" class="btn btn-primary" id="findByBIK" style="background-color:#e91e63;">Найти</button>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_bank_name.id_for_label }}">Банк</label>
                          {{ form.organization_bank_name }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_bank_place_of_registration.id_for_label }}">Место регистрации банка</label>
                          {{ form.organization_bank_place_of_registration }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_correspondent_account.id_for_label }}">Корсчет</label>
                          {{ form.organization_correspondent_account }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.organization_current_account.id_for_label }}">Р/счёт</label>
                          {{ form.organization_current_account }}
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Информация о покупателе -->
                  <div class="card mb-4 p-3">
                    <h5>Информация о покупателе</h5>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_name.id_for_label }}">Наименование</label>
                          {{ form.customer_name }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_inn.id_for_label }}">ИНН</label>
                          {{ form.customer_inn }}
                          <button type="button" class="btn btn-primary" id="findByINNCustomer" style="background-color:#e91e63;">Найти</button>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_kpp.id_for_label }}">КПП</label>
                          {{ form.customer_kpp }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_is_IP.id_for_label }}">ИП?</label>
                          {{ form.customer_is_IP }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_main_state_number.id_for_label }}">ОГРН</label>
                          {{ form.customer_main_state_number }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_address.id_for_label }}">Адрес</label>
                          {{ form.customer_address }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_telephone.id_for_label }}">Телефон</label>
                          {{ form.customer_telephone }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_conventional_name.id_for_label }}">Условное название</label>
                          {{ form.customer_conventional_name }}
                        </div>
                      </div>
                    </div>
                    
                    <!-- Банковские реквизиты покупателя -->
                    <h6 class="mt-4">Банковские реквизиты</h6>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_bik.id_for_label }}">БИК</label>
                          {{ form.customer_bik }}
                          <button type="button" class="btn btn-primary" id="findByBIKCustomer" style="background-color:#e91e63;">Найти</button>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_bank_name.id_for_label }}">Банк</label>
                          {{ form.customer_bank_name }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_place_of_registration.id_for_label }}">Регистрация банка</label>
                          {{ form.customer_place_of_registration }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_correspondent_account.id_for_label }}">Корсчет</label>
                          {{ form.customer_correspondent_account }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.customer_current_account.id_for_label }}">Р/счёт</label>
                          {{ form.customer_current_account }}
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Информация о грузополучателе -->
                  <div class="card mb-4 p-3">
                    <h5>Информация о грузополучателе</h5>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.consignee_name.id_for_label }}">Наименование</label>
                          {{ form.consignee_name }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.consignee_inn.id_for_label }}">ИНН</label>
                          {{ form.consignee_inn }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.consignee_kpp.id_for_label }}">КПП</label>
                          {{ form.consignee_kpp }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.consignee_is_IP.id_for_label }}">ИП?</label>
                          {{ form.consignee_is_IP }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.consignee_main_state_number.id_for_label }}">ОГРН</label>
                          {{ form.consignee_main_state_number }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.consignee_address.id_for_label }}">Адрес</label>
                          {{ form.consignee_address }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.consignee_telephone.id_for_label }}">Телефон</label>
                          {{ form.consignee_telephone }}
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Товар/услуга -->
                  <div class="card mb-4 p-3">
                    <h5>Товары/услуги</h5>
                    {{ formset.management_form }}
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Наименование</th>
                          <th>Кол-во</th>
                          <th>Ед. изм.</th>
                          <th>Цена</th>
                          <th>Сумма</th>
                          <th>Действия</th>
                        </tr>
                      </thead>
                      <tbody id="items-container">
                        {% for item_form in formset %}
                        <tr class="item-row">
                          <td>{{ item_form.name }}</td>
                          <td>{{ item_form.quantity }}</td>
                          <td>{{ item_form.unit }}</td>
                          <td>{{ item_form.price }}</td>
                          <td>{{ item_form.sum }}</td>
                          <td>
                            <button type="button" class="btn btn-danger btn-sm remove-row">Удалить</button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <button type="button" class="btn btn-primary" id="add-item">Добавить товар</button>
                  </div>
                  
                  <!-- Дополнительная информация -->
                  <div class="card mb-4 p-3">
                    <h5>Дополнительная информация</h5>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.purpose_of_payment.id_for_label }}">Назначение платежа</label>
                          {{ form.purpose_of_payment }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.payment_for.id_for_label }}">Оплата за</label>
                          {{ form.payment_for }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.agreement.id_for_label }}">Договор</label>
                          {{ form.agreement }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.vat_rate.id_for_label }}">Ставка НДС</label>
                          {{ form.vat_rate }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.printed_form.id_for_label }}">Форма печати</label>
                          {{ form.printed_form }}
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.currency.id_for_label }}">Валюта</label>
                          {{ form.currency }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <label for="{{ form.discount.id_for_label }}">Скидка</label>
                          {{ form.discount }}
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Кнопки действий -->
<div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <div class="d-flex justify-content-start" style="margin-top: 7px;">
      <button type="submit" class="btn btn-primary" style="margin-right: 7px; background-color:#e91e63;" onclick="resetDownload(); this.form.target='preview_' + Date.now()">Сохранить</button>
      <button type="submit" class="btn btn-success" onclick="setDownloadExcel()">Excel</button>
      <input type="hidden" name="download_excel" id="download_excel" value="false">
      <button type="submit" class="btn btn-info" onclick="setDownloadPdf()" style="margin-left: 7px;">PDF</button>
      <input type="hidden" name="download_pdf" id="download_pdf" value="false">
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </main>
  {% endblock %}
  {% block scripts %}
  <script>
 document.addEventListener('DOMContentLoaded', function() {
    // Настройки для DaData
    const dadataToken = "475fea08958c183ae5a7c24d8cb50a7957ce98bc";
    const dadataUrl = "https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/party";
    const dadataBankUrl = "https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/bank";
    
    // Функция для поиска организации по ИНН
    function findByINN(inn, targetPrefix) {
        if (!inn || inn.length < 10) {
            alert('Введите корректный ИНН (минимум 10 цифр)');
            return;
        }
        
        const options = {
            method: "POST",
            mode: "cors",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "Authorization": "Token " + dadataToken
            },
            body: JSON.stringify({ query: inn })
        };
        
        fetch(dadataUrl, options)
        .then(response => response.json())
        .then(data => {
            if (data.suggestions && data.suggestions.length > 0) {
                const company = data.suggestions[0].data;
                fillOrganizationForm(company, targetPrefix);
            } else {
                alert('Организация не найдена');
            }
        })
        .catch(error => {
            console.error('Ошибка при запросе к DaData:', error);
            alert('Произошла ошибка при поиске организации');
        });
    }
    
    // Функция для заполнения формы данными организации
    function fillOrganizationForm(company, prefix) {
        // Основные поля организации
        if (document.querySelector(`[name="${prefix}_name"]`)) {
            document.querySelector(`[name="${prefix}_name"]`).value = company.name.full_with_opf || '';
        }
        if (document.querySelector(`[name="${prefix}_kpp"]`)) {
            document.querySelector(`[name="${prefix}_kpp"]`).value = company.kpp || '';
        }
        if (document.querySelector(`[name="${prefix}_main_state_number"]`)) {
            document.querySelector(`[name="${prefix}_main_state_number"]`).value = company.ogrn || '';
        }
        if (document.querySelector(`[name="${prefix}_address"]`)) {
            document.querySelector(`[name="${prefix}_address"]`).value = company.address.unrestricted_value || '';
        }
        
        // Определяем, является ли организация ИП
        if (document.querySelector(`[name="${prefix}_is_IP"]`)) {
            const isIP = company.type === 'INDIVIDUAL';
            document.querySelector(`[name="${prefix}_is_IP"]`).checked = isIP;
        }
        
        // Банковские реквизиты (если есть)
        if (company.bankaccounts && company.bankaccounts.length > 0) {
            const bank = company.bankaccounts[0];
            if (document.querySelector(`[name="${prefix}_bank_name"]`)) {
                document.querySelector(`[name="${prefix}_bank_name"]`).value = bank.bank.name || '';
            }
            if (document.querySelector(`[name="${prefix}_bik"]`)) {
                document.querySelector(`[name="${prefix}_bik"]`).value = bank.bank.bic || '';
            }
            if (document.querySelector(`[name="${prefix}_correspondent_account"]`)) {
                document.querySelector(`[name="${prefix}_correspondent_account"]`).value = bank.bank.correspondent_account || '';
            }
            if (document.querySelector(`[name="${prefix}_current_account"]`)) {
                document.querySelector(`[name="${prefix}_current_account"]`).value = bank.value || '';
            }
        }
    }
    
    // Функция для поиска банка по БИК
    function findByBIK(bik, targetPrefix) {
        if (!bik || bik.length < 9) {
            alert('Введите корректный БИК (9 цифр)');
            return;
        }
        
        const options = {
            method: "POST",
            mode: "cors",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "Authorization": "Token " + dadataToken
            },
            body: JSON.stringify({ query: bik })
        };
        
        fetch(dadataBankUrl, options)
        .then(response => response.json())
        .then(data => {
            if (data.suggestions && data.suggestions.length > 0) {
                const bank = data.suggestions[0].data;
                fillBankForm(bank, targetPrefix);
            } else {
                alert('Банк не найден');
            }
        })
        .catch(error => {
            console.error('Ошибка при запросе к DaData:', error);
            alert('Произошла ошибка при поиске банка');
        });
    }
    
    // Функция для заполнения формы данными банка
    function fillBankForm(bank, prefix) {
        if (document.querySelector(`[name="${prefix}_bank_name"]`)) {
            document.querySelector(`[name="${prefix}_bank_name"]`).value = bank.name.payment || '';
        }
        if (document.querySelector(`[name="${prefix}_bank_place_of_registration"]`)) {
            document.querySelector(`[name="${prefix}_bank_place_of_registration"]`).value = bank.address.value || '';
        }
        if (document.querySelector(`[name="${prefix}_correspondent_account"]`)) {
            document.querySelector(`[name="${prefix}_correspondent_account"]`).value = bank.correspondent_account || '';
        }
    }
    
    // Обработчики для кнопок поиска организаций по ИНН
    document.getElementById('findByINN')?.addEventListener('click', function() {
        const inn = document.querySelector('[name="organization_inn"]').value;
        findByINN(inn, 'organization');
    });
    
    document.getElementById('findByINNCustomer')?.addEventListener('click', function() {
        const inn = document.querySelector('[name="customer_inn"]').value;
        findByINN(inn, 'customer');
    });
    
    document.getElementById('findByINNConsignee')?.addEventListener('click', function() {
        const inn = document.querySelector('[name="consignee_inn"]').value;
        findByINN(inn, 'consignee');
    });
    
    // Обработчики для кнопок поиска банков по БИК
    document.getElementById('findByBIK')?.addEventListener('click', function() {
        const bik = document.querySelector('[name="organization_bik"]').value;
        findByBIK(bik, 'organization');
    });
    
    document.getElementById('findByBIKCustomer')?.addEventListener('click', function() {
        const bik = document.querySelector('[name="customer_bik"]').value;
        findByBIK(bik, 'customer');
    });
    
    // Добавляем маску для телефона
    document.querySelectorAll('input[type="tel"]').forEach(input => {
        let phoneMask = IMask(input, { mask: "+{7} (000) 000-00-00" });

        function validatePhoneNumber() {
            let t = input.value.replace(/\D/g, "");
            return t.length < 11 ? (input.setCustomValidity("Необходимо минимум 11 цифр"), !1) : (input.setCustomValidity(""), !0);
        }

        input.addEventListener("input", validatePhoneNumber);
    });
    
    // Логика для добавления/удаления строк товаров
    document.getElementById('add-item')?.addEventListener('click', function() {
        const totalForms = document.getElementById('id_items-TOTAL_FORMS');
        const formIdx = parseInt(totalForms.value);
        const newRow = document.querySelector('.item-row').cloneNode(true);
        
        // Обновляем индексы в полях формы
        newRow.innerHTML = newRow.innerHTML.replace(/items-\d+/g, `items-${formIdx}`);
        newRow.innerHTML = newRow.innerHTML.replace(/items\.\d+/g, `items.${formIdx}`);
        
        // Очищаем значения
        newRow.querySelectorAll('input').forEach(input => {
            if (input.type !== 'hidden') input.value = '';
        });
        
        document.getElementById('items-container').appendChild(newRow);
        totalForms.value = formIdx + 1;
    });
    
    // Обработчик для удаления строк
    document.addEventListener('click', function(e) {
        if (e.target.classList.contains('remove-row')) {
            const row = e.target.closest('.item-row');
            if (document.querySelectorAll('.item-row').length > 1) {
                row.remove();
            } else {
                // Очищаем поля, если это последняя строка
                row.querySelectorAll('input').forEach(input => {
                    if (input.type !== 'hidden') input.value = '';
                });
            }
        }
    });
});
</script>
  <script>
    function setDownloadExcel() {
        document.getElementById('download_pdf').value = "false";
        document.getElementById('download_excel').value = "true";
    };
    function setDownloadPdf() {
        document.getElementById('download_excel').value = "false";
        document.getElementById('download_pdf').value = "true";
    };
    function resetDownload() {
        document.getElementById('download_excel').value = "false";
        document.getElementById('download_pdf').value = "false";
    };
</script>
<script defer>
document.addEventListener('DOMContentLoaded', () => {

    document.querySelectorAll('input[type="tel"]').forEach(input => {
        let phoneMask = IMask(input, { mask: "+{7} (000) 000-00-00" });

        function validatePhoneNumber() {
            let t = input.value.replace(/\D/g, "");
            return t.length < 11 ? (input.setCustomValidity("Необходимо минимум 11 цифр"), !1) : (input.setCustomValidity(""), !0);
        }

        input.addEventListener("input", validatePhoneNumber);
    });
});
</script>
{% endblock %}
  